body {
  color: #3f3c4d;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
div,
p,
span,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
.framesheet {
  background: #fbf1e5 url("./assets/images/header-bg.png") 0 0 repeat-x;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 980px;
}
/* form css */
label {
  display: inline-block;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 25px;
}
.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #495057;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  padding: 5px 15px;
  width: calc(100% - 30px);
}
.form-button {
  background: #3ebcd3;
  border: 1px solid #2c8fa3;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #faf0e4;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  padding: 15px;
}
.form-button:hover {
  cursor: pointer;
}
.select-container {
  position: relative;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #495057;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  padding: 5px 15px;
  width: 100%;
}
/* For IE <= 11 */
select::-ms-expand {
  display: none;
}
.select-icon {
  position: absolute;
  top: 40px;
  right: -4px;
  width: 30px;
  height: 36px;
}
/* headings */
.page-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.page-form {
  flex-basis: 45%;
}
.page-description {
  flex-basis: 45%;
}
.page-title {
  color: #3f3c4d;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.page-text {
  color: #858688;
  font-size: 18px;
  font-weight: 200;
  line-height: 26px;
  margin-bottom: 20px;
}
.error-text {
  color: #b00020;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
  width: 100%;
}
.error-text i {
  margin-right: 10px;
}
.loading-ani {
  background: url("./assets/images/loading.svg") 50% 50% no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/* data table */
.data-table {
  border-collapse: collapse;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  width: 100%;
}
.data-table thead tr th {
  background: #3ebcd3;
  color: #faf0e4;
}
.data-table tbody tr td,
.data-table thead tr th {
  border: 1px solid #dddddd;
  max-width: 0;
  overflow: hidden;
  padding: 15px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #f2797a;
}
.data-table tbody tr:nth-child(even) {
  background: #f2f2f2;
}
.data-table tbody tr:nth-child(odd) {
  background: #ffffff;
}
