.request-list-container {
  width: 100%;
}
.request-list th:nth-child(1) {
  width: 30%;
}
.request-list th:nth-child(2),
.request-list th:nth-child(3),
.request-list th:nth-child(5) {
  width: 20%;
}
.request-list th:nth-child(4) {
  width: 10%;
}
.logout:hover {
  cursor: pointer;
}