.rdt_TableHeadRow {
  background: #42bfd8 !important;
  color: #faf0e4;
}
.rdt_TableRow .rdt_TableCell,
.rdt_TableHeadRow .rdt_TableCol {
  border-right: 1px solid #dddddd;
}
.rdt_TableRow .rdt_TableCell:last-child,
.rdt_TableHeadRow .rdt_TableCol:last-child {
  border-right: none;
}
.rdt_TableBody {
  border-bottom: 2px solid #f2797a;
}
.rdt_TableRow:hover {
  background: none !important;
  border-bottom-color: #dddddd !important;
  outline: none !important;
}
.rdt_Pagination {
  background: none !important;
  color: #858688 !important;
}
select {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #495057;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  width: 30%;
}